{namespace org.koshinuke.login}

/**
 * login form
 * @param csrf
 */
{template .loginform}
<html>
<body>
	<form method="post" action="/login">
		<input name="u" type="text" /> <input name="p" type="password" />
		<input type="submit">
		<input type="hidden" name="t" value="{$csrf}"/>
	</form>
</body>
</html>
{/template}