{namespace org.koshinuke.login}

/**
 * login form
 */
{template .loginform}
<html>
<body>
	<form method="post" action="/login">
		<input name="u" type="text" /> <input name="p" type="password" />
		<input type="submit">
	</form>
</body>
</html>
{/template}